{% extends 'base.html' %}

{% block title %}
Plantas
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4 mb3">Plantas</h1>

            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="//imagens.ecid.com.br/imagem-curso-online/curso-basico-de-bonsai-curso-online.png" alt="Bonsai">
                        <div class="card-body">
                            <h5 class="card-title">Bonsai</h5>
                            <p class="card-text">Aprenda esta arte milenar do cultivo de bonsais. Saiba mais sobre a escolha de plantas, os cuidados necessários, os diferentes estilos e as classificações de tamanho e espécie. A abordagem vai desde o preparo da terra até a poda e manutenção das pequenas árvores.</p>
                            <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="//imagens.ecid.com.br/imagem-curso-online/curso-basico-de-bonsai-curso-online.png" alt="Bonsai">
                        <div class="card-body">
                            <h5 class="card-title">Bonsai</h5>
                            <p class="card-text">Aprenda esta arte milenar do cultivo de bonsais. Saiba mais sobre a escolha de plantas, os cuidados necessários, os diferentes estilos e as classificações de tamanho e espécie. A abordagem vai desde o preparo da terra até a poda e manutenção das pequenas árvores.</p>
                            <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="//imagens.ecid.com.br/imagem-curso-online/curso-basico-de-bonsai-curso-online.png" alt="Bonsai">
                        <div class="card-body">
                            <h5 class="card-title">Bonsai</h5>
                            <p class="card-text">Aprenda esta arte milenar do cultivo de bonsais. Saiba mais sobre a escolha de plantas, os cuidados necessários, os diferentes estilos e as classificações de tamanho e espécie. A abordagem vai desde o preparo da terra até a poda e manutenção das pequenas árvores.</p>
                            <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock content %}

