{% extends 'base.html' %}

{% block title %}
Contatos
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mt-4 mb-3">Contatos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl>
                <dt>Telefone</dt>
                <dd>(88) 2101-5444</dd>
                <dt>Endereco</dt>
                <dd>Av. Padre Cícero, 2555 - Triângulo</dd>
                <dd>Juazeiro do Norte - CE</dd>
                <dd>63041-145</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock content %}

